@import "../bulma/public/vendors/bulma/bulma.sass";

:root {
    --background: #fbfbf8;
    --headerbg: #ececf0;
    --NavBG: #d9d9e1;
    --Textf: #ebe4e2;
    --HeadText: #c396b7;
    --SubText: #b094c2;
    --Links: #e29b9a;
    --Button: #e48bae;
    --Btext: #e45b67;
    --extra: #7c4dff;
}
* {
   background-color: var(--background); 

}

header {
    background-color: var(--headerbg);
    color: var(--SubText);
    text-align: center;
}

header h1 {
    color: var(--HeadText);
    font-size: 78px;
    text-align: center;
}


body {
color: var(--SubText);
}

.box {
    background-color: var(--NavBG);
    text-align: center;
}
body h2 {
    background-color: var(--NavBG);
    color: var(--HeadText);
    font-size: 40px;
}

body h3 {
    background-color: var(--NavBG);
    color: var(--SubText);
}

#genNow {
    background-color: var(--Button);
    color: var(--Btext);
}